jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-leaflet==0.19.2
jupyter-server==1.16.0
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.15
jupytext==1.17.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
numpy==2.0.2
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.29.0
pandas-stubs==2.2.2.240909
plotly==5.24.1
python-apt==0.0.0
python-box==7.3.2
python-dateutil==2.9.0.post0
python-louvain==0.16
python-multipart==0.0.20
python-slugify==8.0.4
python-snappy==0.7.3
python-utils==3.9.1

tensorflow_decision_forests==1.11.0
tensorstore==0.1.74
termcolor==3.1.0
terminado==0.18.1
zstandard==0.23.0
